/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d64d1;
  --ifm-color-primary-darker: #1b5fca;
  --ifm-color-primary-darkest: #164fa8;
  --ifm-color-primary-light: #4d89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #7aa9ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #528fff;
  --ifm-color-primary-dark: #2e77ff;
  --ifm-color-primary-darker: #206eff;
  --ifm-color-primary-darkest: #0055f0;
  --ifm-color-primary-light: #76a7ff;
  --ifm-color-primary-lighter: #8ab5ff;
  --ifm-color-primary-lightest: #b8d1ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
